ackermann-msgs==2.0.2
action-msgs==1.2.1
action-tutorials-interfaces==0.20.3
action-tutorials-py==0.20.3
actionlib-msgs==4.2.3
aiohttp==3.9.0
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
ament-cmake-test==1.3.5
ament-copyright==0.12.8
ament-cppcheck==0.12.8
ament-cpplint==0.12.8
ament-flake8==0.12.8
ament-index-python==1.4.0
ament-lint==0.12.8
ament-lint-cmake==0.12.8
ament-package==0.14.0
ament-pep257==0.12.8
ament-uncrustify==0.12.8
ament-xmllint==0.12.8
angles==1.15.0
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1696634205638/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1688651106312/work/dist
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1691763562544/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1683424013410/work
bond==3.0.2
Bottleneck @ file:///home/conda/feedstock_root/build_artifacts/bottleneck_1696018006395/work
Brotli @ file:///work/ci_py311/brotli-split_1676830125088/work
builtin-interfaces==1.2.1
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1698197297464/work
cartographer-ros-msgs==2.0.9000
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1700303426725/work/certifi
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1696001724357/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1692311806742/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
composition-interfaces==1.2.1
contourpy @ file:///work/ci_py311/contourpy_1676827066340/work
control-msgs==4.4.0
controller==2023.1.1
controller-manager==2.32.0
controller-manager-msgs==2.32.0
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography-split_1698192014160/work
cv-bridge==3.2.1
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
dataclasses-json @ file:///home/conda/feedstock_root/build_artifacts/dataclasses-json_1648489389285/work
demo-nodes-py==0.20.3
diagnostic-msgs==4.2.3
diagnostic-updater==3.1.2
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1675116244235/work
docker-pycreds==0.4.0
domain-coordinator==0.10.0
dwb-msgs==1.1.12
et-xmlfile @ file:///home/conda/feedstock_root/build_artifacts/et_xmlfile_1674664118162/work
example-interfaces==0.9.3
examples-rclpy-executors==0.15.1
examples-rclpy-minimal-action-client==0.15.1
examples-rclpy-minimal-action-server==0.15.1
examples-rclpy-minimal-client==0.15.1
examples-rclpy-minimal-publisher==0.15.1
examples-rclpy-minimal-service==0.15.1
examples-rclpy-minimal-subscriber==0.15.1
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1692026125334/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1700143030962/work
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1695377774422/work
gazebo-msgs==3.7.0
generate-parameter-library-py==0.3.6
geometry-msgs==4.2.3
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1697791558612/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1697650329377/work
google-api-core @ file:///home/conda/feedstock_root/build_artifacts/google-api-core-split_1699732438047/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1698826879221/work
googleapis-common-protos @ file:///home/conda/feedstock_root/build_artifacts/googleapis-common-protos-feedstock_1697198464829/work
greenlet @ file:///work/ci_py311/greenlet_1676825247229/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1664132893548/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
hpack==4.0.0
httpcore @ file:///home/conda/feedstock_root/build_artifacts/httpcore_1699629103338/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1699030327261/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
image-geometry==3.2.1
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1673103042956/work
interactive-markers==2.3.2
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1691577114857/work
joint-state-publisher==2.4.0
joint-state-publisher-gui==2.4.0
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1695536281965/work
jsonpointer @ file:///home/conda/feedstock_root/build_artifacts/jsonpointer_1695397236330/work
kiwisolver @ file:///work/ci_py311/kiwisolver_1676827230232/work
langchain @ file:///home/conda/feedstock_root/build_artifacts/langchain_1700259820925/work
langsmith @ file:///home/conda/feedstock_root/build_artifacts/langsmith_1700260306420/work
laser-geometry==2.4.0
launch==1.0.4
launch-ros==0.19.6
launch-testing==1.0.4
launch-testing-ros==0.19.6
launch-xml==1.0.4
launch-yaml==1.0.4
lifecycle-msgs==1.2.1
logging-demo==0.20.3
map-msgs==2.1.0
marshmallow @ file:///home/conda/feedstock_root/build_artifacts/marshmallow_1689924608696/work
marshmallow-enum @ file:///home/conda/feedstock_root/build_artifacts/marshmallow-enum_1602427317752/work
matplotlib @ file:///croot/matplotlib-suite_1698692105134/work
message-filters==4.3.3
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1696716097177/work
munkres==1.1.4
mypy-extensions @ file:///home/conda/feedstock_root/build_artifacts/mypy_extensions_1675543315189/work
nav-2d-msgs==1.1.12
nav-msgs==4.2.3
nav2-common==1.1.12
nav2-msgs==1.1.12
nav2-simple-commander==1.0.0
numexpr @ file:///croot/numexpr_1696515281613/work
numpy @ file:///croot/numpy_and_numpy_base_1695830428084/work/dist/numpy-1.26.0-cp311-cp311-linux_x86_64.whl#sha256=5127fb5a9f3ce0070827eaa872d4c5856fcd404c7b7efee222553a9477fef879
openai @ file:///home/conda/feedstock_root/build_artifacts/openai_1695757142572/work
openapi-schema-pydantic @ file:///home/conda/feedstock_root/build_artifacts/openapi-schema-pydantic_1681130872959/work
openpyxl @ file:///home/conda/feedstock_root/build_artifacts/openpyxl_1695464696880/work
osrf-pycommon==2.0.2
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
pandas @ file:///croot/pandas_1697477158611/work/dist/pandas-2.1.1-cp311-cp311-linux_x86_64.whl#sha256=ed5518777956b76c6290791e98ec9ff6ea64a621c757052a7697aa4252bc0d9b
pandas-stubs @ file:///home/conda/feedstock_root/build_artifacts/pandas-stubs_1698184148705/work
pathtools==0.1.2
pcl-msgs==1.0.0
pendulum-msgs==0.20.3
Pillow @ file:///croot/pillow_1696580024257/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1698272730927/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1693086607691/work
protobuf==3.20.3
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1695367159033/work
pyasn1 @ file:///home/conda/feedstock_root/build_artifacts/pyasn1_1694615621498/work
pyasn1-modules @ file:///home/conda/feedstock_root/build_artifacts/pyasn1-modules_1695107857548/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1700171233545/work
pydantic_core @ file:///home/conda/feedstock_root/build_artifacts/pydantic-core_1700009828044/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1698795453264/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pytest @ file:///home/conda/feedstock_root/build_artifacts/pytest_1698233724984/work
pytest-subtests @ file:///home/conda/feedstock_root/build_artifacts/pytest-subtests_1684165519839/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/python-dotenv-split_1693865766170/work
python-qt-binding==1.1.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1693930252784/work
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1695373611984/work
qt-dotgraph==2.2.2
qt-gui==2.2.2
qt-gui-cpp==2.2.2
qt-gui-py-common==2.2.2
quality-of-service-demo-py==0.20.3
rcl-interfaces==1.2.1
rclpy==3.3.10
rcutils==5.1.3
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
resource-retriever==3.1.1
rmw-dds-common==1.6.0
ros2action==0.18.7
ros2bag==0.15.8
ros2cli==0.18.7
ros2component==0.18.7
ros2controlcli==2.32.0
ros2doctor==0.18.7
ros2interface==0.18.7
ros2launch==0.19.6
ros2lifecycle==0.18.7
ros2multicast==0.18.7
ros2node==0.18.7
ros2param==0.18.7
ros2pkg==0.18.7
ros2run==0.18.7
ros2service==0.18.7
ros2topic==0.18.7
rosbag2-interfaces==0.15.8
rosbag2-py==0.15.8
rosgraph-msgs==1.2.1
rosidl-adapter==3.1.5
rosidl-cli==3.1.5
rosidl-cmake==3.1.5
rosidl-generator-c==3.1.5
rosidl-generator-cpp==3.1.5
rosidl-generator-py==0.14.4
rosidl-parser==3.1.5
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.1
rosidl-typesupport-cpp==2.0.1
rosidl-typesupport-fastrtps-c==2.2.1
rosidl-typesupport-fastrtps-cpp==2.2.1
rosidl-typesupport-introspection-c==3.1.5
rosidl-typesupport-introspection-cpp==3.1.5
rpyutils==0.2.1
rqt-action==2.0.1
rqt-bag==1.1.4
rqt-bag-plugins==1.1.4
rqt-console==2.0.2
rqt-graph==1.3.0
rqt-gui==1.1.5
rqt-gui-py==1.1.5
rqt-msg==1.2.0
rqt-plot==1.1.2
rqt-publisher==1.5.0
rqt-py-common==1.1.5
rqt-py-console==1.0.2
rqt-reconfigure==1.1.1
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.0
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1658328885051/work
scikit-learn @ file:///croot/scikit-learn_1684954695550/work
scipy @ file:///croot/scipy_1696543286448/work/dist/scipy-1.11.3-cp311-cp311-linux_x86_64.whl#sha256=652baacbb9b83a95da3eb8245b1d6cd239d616b0aab036da74e71ca33a6f05db
scripts==3.7.0
sensor-msgs==4.2.3
sensor-msgs-py==4.2.3
sentry-sdk @ file:///home/conda/feedstock_root/build_artifacts/sentry-sdk_1699874922447/work
setproctitle @ file:///home/conda/feedstock_root/build_artifacts/setproctitle_1696431161493/work
shape-msgs==4.2.3
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
slam-toolbox==2.6.6
smclib==3.0.2
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1634310307496/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1662051266223/work
SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy_1698950575227/work
sros2==0.10.4
statistics-msgs==1.2.1
std-msgs==4.2.3
std-srvs==4.2.3
stereo-msgs==4.2.3
stringcase==1.2.0
teleop-twist-keyboard==2.3.2
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1692026804430/work
tf-transformations==1.0.0
tf2-geometry-msgs==0.25.4
tf2-kdl==0.25.4
tf2-msgs==0.25.4
tf2-py==0.25.4
tf2-ros-py==0.25.4
tf2-tools==0.25.4
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1689261241048/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
topic-monitor==0.20.3
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1691671248568/work
trajectory-msgs==4.2.3
turtlebot3-example==2.1.5
turtlebot3-msgs==2.2.3
turtlebot3-teleop==2.1.5
turtlesim==1.4.2
types-pytz @ file:///home/conda/feedstock_root/build_artifacts/types-pytz_1695236566539/work
typing-inspect @ file:///home/conda/feedstock_root/build_artifacts/typing_inspect_1685820062773/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1695040754690/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
unique-identifier-msgs==2.2.1
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1699933488691/work
vehicle==2023.1.1
vision-msgs==4.1.0
visualization-msgs==4.2.3
wandb @ file:///home/conda/feedstock_root/build_artifacts/wandb_1696447552559/work
webots-ros2==2023.1.1
webots-ros2-driver==2023.1.1
webots-ros2-epuck==2023.1.1
webots-ros2-importer==2023.1.1
webots-ros2-mavic==2023.1.1
webots-ros2-msgs==2023.1.1
webots-ros2-tesla==2023.1.1
webots-ros2-tiago==2023.1.1
webots-ros2-turtlebot==2023.1.1
webots-ros2-universal-robot==2023.1.1
xacro==2.0.8
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1696732508809/work
python-tsp
